<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="MSSmartTagsPreventParsing" content="true" />

  <title>ScheduleApp for Shopify</title>

  <%= stylesheet_link_tag 'application', 'jquery.ptTimeSelect',
        'jquery-ui-1.8.2.custom', 'icons', 'demo_table' %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery.ptTimeSelect',
      'jquery-ui-1.8.2.custom.min', 'application', 'dataTable', 'aqFloater' %>

</head>

<body>
    <div id='ajax-indicator'>&nbsp;</div>
    <div id="header">
      <h1><%= link_to 'ScheduleApp', '/' %></h1>
      <p id="login-link">
        <% if current_shop %>
          <span class="note">current shop</span> <%= link_to current_shop.url, "http://#{current_shop.url}", :class => 'shop_name' %> <span class="note">|</span>
          <%= link_to 'logout', logout_path %>
          <label style="color: #FFFFFF; font-weight: 600;">Time zone:&nbsp;<%= current_store.time_zone %></label>
        <% end %>
      </p>
      <br />
    </div>

  <div id="container" class="clearfix">

    <!-- Flash error & notice-->
    <%= render_flash flash %>

    <!-- begin div.main-->
    <div id="main">
      <%= @content_for_layout %>
    </div>
    <!-- end div.main -->

  </div>

</body>
</html>

